/* AK - для удобства, создал часто используемые переменные */

:root {
  --gray-dark: #1f1f1f;
  --gray-light: #f2f2f2;
  --blue: #2f80ed;
  --black: #000000;
  --white: #ffffff;
  --header_margin-left: 64px;
}

.page {
  min-width: 1100px;
  /* Яндекс - мы ещё не умеем делать мобильную версию сайта, */
  /* Яндекс - поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* Яндекс - выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* Яндекс - выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Яндекс - выше установили ограничения для секции */
  /* AK - сделал весь блок флекс-контейнером для удобства центрирования и "прижимания" элементов  */
  display: flex;
  /* AK - сделал позиционирование относительным, чтобы заработали абсолютные позиционирования блоков
  применительно к блоку хеадер, а не боди */
  position: relative;
  /* АК - применил к блоку хедер серый фон */
  background-color: var(--gray-light);
}

/* АК - блок для логотипа */
.logo {
  width: 183px;
}

/* АК - класс с модификатором для позиционирования логотипа в хедере согласно ТЗ*/
.logo__place_header {
  position: absolute;
  top: 30px;
  height: 32px;
  left: var(--header_margin-left);
}

/* АК - вынес в отдельный модификатор фоновое изображение в хедере (с учетом требований к почти
аналогичному изображению в футере: стр. 17 п. 5) */
.logo__place_header-image {
  background-image: url(../images/logo_place_header.svg);
}

/* AK - элемент header__title для текста Научиться учиться */
.header__title {
  display: flex;
  align-items: center;
  margin-left: var(--header_margin-left);
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}

/* AK - согласно ТЗ элементы title, subtitle должны быть поверх других блоков на малых разрешениях,
поэтому создал модификатор к блоку хедер для этого эффекта */
.header_overlay {
  z-index: 2;
}

/* AK - элемент подзаголовка согласно ТЗ (стр. 3 п. 3, стр. 4 п. 2) */
.header__subtitle {
  position: absolute;
  width: 388px;
  margin-left: var(--header_margin-left);
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* AK - элемент для основной иллюстранции в хэдере согласно ТЗ (стр. 2 п. 5, стр. 3 п. 4 */
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(../images/header-image.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  /* AK - по макету блок идет над синим квадратом, но должен быть "ниже" заголовка и подзаголовка,
  поэтому зет-индекс тут будет 1, а в заголовке и подзаголовке - 2 */
  z-index: 1;
}

/* Яндекс - ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* АК - добавил в элемент свойства фона и позиционировал его согласно ТЗ (стр. 3 п. 5) */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--blue);
  position: absolute;
  right: 0;
  margin-top: 64px;
}

/* ----- блок content ----- */
/* AK - попробую идею, что все секции - это части большого блока "контент", идущие в колонку */
.content {
  display: flex;
  flex-direction: column;
}

/* ----- секция description ----- */
.description {
  display: flex;
  background-color: var(--white);
}

/* АК - блок two-columns, по макету он идет с верхним отступом от начала блока в 100 пикселей
При этом, по макету нижний отступ принадлежит следующей секции, а не этому блоку.
Беру в качестве приоритета макет на первой странице.
Тут на усмотрение ревьюера - оставим мы в приоритете макет на первой странице и спозиционируем блок,
задав маржины, либо потом добавим нижний маржин и отцентруем блок по центральной оси ср-вами флекс */
.two-columns {
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 80%;
  justify-content: space-between;

}

.two-columns__brief {
  display: flex;
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--blue);

}

/* АК - элемент для блока с основным текстом */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
}

/* АК - элемент для параграфов */
.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* AK - псевдокласс, который берет последний элемент параграфа и обнуляет у него нижний маржин */
.two-columns__paragraph:nth-last-of-type(1) {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/* ----- секция digits ----- */
.digits {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  border: 1px solid red;
}

.section-title {
  display: flex;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  justify-content: center;
  border: 1px solid rosybrown;
}








/* Яндекс - и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
